.control {
    position: fixed;
    /* top: 10px;
    left: 10px; */
    font-size: 14px;
    width: 180px;
    background-color: #00000090;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}
.sideBar {
    height: 10px;
    background-color: #ffffff90;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto 10px;
    cursor:move
}
.discbox {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    /* margin: 0 -0.2rem; */
}
.ColorDisc {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin: 2px;
}
.ColorDiscActive {
    box-shadow: 0 0 0 2px #c4c4c4, inset 0 0 0 2px #293039;
}
