/* body {

} */
.main {
  overflow: hidden;
  position: relative;
  background-size: 100% 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #ccc;
}
.discbox {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.ColorDisc {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 0.5rem;
  margin: 0.2rem;
  border: 1px solid #ccc;
}
.ColorDiscActive {
  box-shadow: 0 0 0 0.2rem #c4c4c4, inset 0 0 0 0.2rem #293039;
}
.label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.box {
  position: absolute;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  justify-content: space-around;
  display: flex;
  width: 70rem;
  cursor: pointer;
}

.childerBox {
  width: 4em;
  user-select: none;
  pointer-events: none;
}

.setup {
  position: absolute;
  right: 5rem;
  top: 5rem;
  font-size: 2rem;
  opacity: 0.4;
}
.setup:hover {
  opacity: 1;
  border: 1px dotted #fff;
}
