html,
body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: scroll;

}


html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  margin: 0;
}

.App {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .App {
    width: 100%;
  }
}